/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&family=Ubuntu&display=swap");
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
body {
  font-family: "Montserrat", sans-serif;
}
#title {
  background-color: #ff4c68;
  max-height: 100vh;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}
h2 {
  font-weight: bold;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 30px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
}
.nav-item:hover {
  font-size: large;
}

.slogan {
  margin: 50px 0;
  color: #fff;
}
.iphone {
  transform: rotate(20deg);
  width: 60%;
  margin: 50px 0 10px 80px;
}

@media (max-width: 1028px){
  #title{
    max-height: 200vh;
    text-align: center;
  }
  #title h1{
    font-size: 2.6rem;
  }
  .iphone{
    transform: rotate(0);
    margin: 50px auto;
  }
}

/*       Fearture section      */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.ft-items {
  text-align: center;
  padding: 30px;
}
.ft-items h4 {
  font-weight: 500;
}
.ft-items p {
  color: #8f8f8f;
}

.ft-items i {
  cursor: pointer;
  color: lightsalmon;
  margin-bottom: 10px;
}
.ft-items i:hover {
  color: #ff4c68;
  transform: scale(0.9);
}


/*Testimonials Section*/
#testimonials {
  color: #fff;
  background-color: #ef8172;
  text-align: center;
  padding: 7% 15%;
}

#testimonials img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing{
  padding: 7% 15%;
}

#cta{
  min-height: 400px;
  background-color: #ff4c68;
  text-align: center;
  padding: 5% 15% 3%;
}

#cta h3{
  color: #fff;
  font-size: 3rem;
  font-weight: bolder;
}
#cta button{
  margin: 40px 10px;
}
/* footer */
#footer{
  text-align: center;
  min-height: 150px;
  padding: 5% 15% 3%;
}

#footer div i{
  padding: 10px;
  cursor: pointer;
}
#footer div i:hover{
  color: #ff4c68;
}
#footer p{
  font-size: small;
}